In [16]:
import pandas as pd
import numpy as np
#use widget instead of inline to make the plot interactive
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick

In [17]:
df = pd.read_pickle('data/df_day_pc.pkl')
X_features = df[['principal component {}'.format(s+1) for s in range(9)]]
y_target = df['casual']

In [18]:
df.head()

,principal component 1,principal component 2,principal component 3,principal component 4,principal component 5,principal component 6,principal component 7,principal component 8,principal component 9,casual
0,-1.488972,-1.047499,1.605775,2.289455,0.201128,-0.239440,-0.010536,-0.287175,-0.816473,-0.753734
1,-1.451751,-1.021663,1.645791,-1.233060,-0.471208,0.952538,-1.183593,0.170466,-1.114137,-1.045214
2,-2.074937,-0.965831,-1.046103,-0.387641,-0.219641,-0.700964,0.107072,0.032208,0.104792,-1.061246
3,-1.993973,-0.933343,-1.039374,-0.383966,-0.203686,-0.687122,0.107436,0.032091,0.095520,-1.078734
4,-1.864799,-0.882715,-1.028881,-0.377580,-0.179399,-0.665770,0.107072,0.031685,0.082570,-1.116627

In [19]:
from tpot import TPOTRegressor
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
# splitting the data
x_train, x_test, y_train, y_test = train_test_split(X_features, y_target, test_size = 0.15, random_state = 42)

In [23]:
tpot = TPOTRegressor(generations=5, population_size=100,verbosity=2,n_jobs=-1)

In [24]:
tpot.fit(x_train, y_train)

Optimization Progress:   0%|          | 0/600 [00:00<?, ?pipeline/s]

Generation 1 - Current best internal CV score: -0.2308679440375621

Generation 2 - Current best internal CV score: -0.2198914857497079

Generation 3 - Current best internal CV score: -0.2198914857497079

Generation 4 - Current best internal CV score: -0.2198914857497079

Generation 5 - Current best internal CV score: -0.21804466596076746

Best pipeline: ExtraTreesRegressor(RidgeCV(input_matrix), bootstrap=True, max_features=0.8, min_samples_leaf=1, min_samples_split=6, n_estimators=100)

TPOTRegressor(generations=5, n_jobs=-1, verbosity=2)

In [22]:
print(tpot.score(x_test,y_test))

-0.23102129516475103

In [25]:
df_day = pd.read_pickle('data/df_day.pkl')

In [26]:
df_day.head()

,instant,Temperature,Apparent Temperature,casual,registered,cnt,season_fall,season_summer,year_2012,month_April,...,month_July,month_June,month_May,month_October,month_September,holiday_No,weekday_Saturday,weekday_Sunday,workingday_No,weathersit_Clear/cloudy
date,,,,,,,,,,,,,,,,,,,,,
2011-01-01,1,0.344167,0.363625,331,654,985,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
2011-01-02,2,0.363478,0.353739,131,670,801,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2011-01-03,3,0.196364,0.189405,120,1229,1349,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2011-01-04,4,0.200000,0.212122,108,1454,1562,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2011-01-05,5,0.226957,0.229270,82,1518,1600,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [27]:
X_features = df_day.drop(['instant','casual','registered','cnt'],axis=1)
y_target = df_day['casual']

In [28]:
x_train, x_test, y_train, y_test = train_test_split(X_features, y_target, test_size = 0.15, random_state = 42)

In [31]:
tpot = TPOTRegressor(verbosity=2)

In [32]:
tpot.fit(x_train, y_train)
print(tpot.score(x_test,y_test))

Optimization Progress:   0%|          | 0/10100 [00:00<?, ?pipeline/s]

Generation 1 - Current best internal CV score: -96113.41341578607


TPOT closed during evaluation in one generation.
WARNING: TPOT may not provide a good pipeline if TPOT is stopped/interrupted in a early generation.


TPOT closed prematurely. Will use the current best pipeline.

Best pipeline: XGBRegressor(input_matrix, learning_rate=0.1, max_depth=4, min_child_weight=4, n_estimators=100, n_jobs=1, objective=reg:squarederror, subsample=0.3, verbosity=0)
-89663.15848673518